<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>project1</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div>
                <h1 class="title">Artificial Intelligence</h1>
                
                <a href="/citations" class="button">Citations</a>
                
            </div>    
                <nav>
                    <div class="main">
                        <a class="current" href="/">Main</a>
                    </div>
                    <div class="ml">
                        <a href="/machineLearning">Machine Learning</a>
                    </div>
                    <div class="dl">
                        <a href="/deepLearning">Deep Learning</a>
                    </div>
                    <div class="apps">
                        <a href="/applications">Applications</a>
                    </div>
                </nav>