<% include partials/header.ejs %>
            
            <main>
                <div class="app-box-1">
                    <h1>Examples where AI has been implemented</h1>
                    <ul>
                        <li>Self Driving Cars<br>The AI driving a car is constantly taking in input, making predictions, and has access to a very large set of data, so it is able to adapt to the continuously changing driving conditions.</li>
                        <li>Speech Recognition<br>AI is also used to translate languages. It needs to be able to differentiate between accents and must have access to all the vocabulary of multiple languages.</li>
                        <li>Computers that Play Games<br>Computers have been known to constantly beat world champions at games like chest, checkers, and even video games by planning hundreds or even thousand of moves ahead.</li>
                        <li>Coloring Black and White Videos<br>AI has greatly accelerated the time it takes to color black and white films by recognizing patterns of already colored video and applying them accordingly.</li>
                    </ul>
                </div>
            </main>
            
            <div id="apppics">
                <img id="carpic" src="img/selfdrivingcars.jpg" width="1000" height="500" alt="visual" />
                <img id="chess" src="img/chess.jpg" width="1000" height="500" alt="visual" /> 
            </div>
            
        </div>
    </body>
    
</html>