<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>project1</title>
        <style>
            #links {
                display: flex;
                flex-direction: column;
                color:cyan;
            }
            #links a {
                padding:20px;
            }
        </style>
    </head>
    <body>
        <a href="/" class="button">Return</a>
                
        <div id="links">
            <a href="https://hackernoon.com/deep-learning-vs-machine-learning-a-simple-explanation-47405b3eef08"><cite>Deep Learning vs. Machine Learning: A Simple Explanation</cite></a>
            <a href="https://bigdata-madesimple.com/top-10-real-life-examples-of-machine-learning/"><cite>Top 10 real-life examples of Machine Learning</cite></a>
            <a href="https://skymind.ai/wiki/ai-vs-machine-learning-vs-deep-learning"><cite>Artificial Intelligence (AI) vs. Machine Learning vs. Deep Learning</cite></a>
            <a href="https://www.forbes.com/sites/bernardmarr/2018/08/20/10-amazing-examples-of-how-deep-learning-ai-is-used-in-practice/#705dba39f98a"><cite>0 Amazing Examples Of How Deep Learning AI Is Used In Practice?</cite>1</a>
        </div>   
    </body>
</html>