<% include partials/header.ejs %>
            
            <div class="dl-pics">
                <img id="robobrain" src="img/robobrain.jpg" width="900" height="500" alt="visual" />
                <img id="neurons" src="img/roboneurons.jpg" width="900" height="500" alt="visual" />
            </div>
            
            <main>
                <div class="dl-box-1">
                    <h1>What is Deep Learning?</h1>
                    <div>
                        <h3><mark>Neuroplacticity</mark></h3>
                		 Let's first take a look at how the human brain works.The human brain contains billions of neurons. 
                		 As people learn new things, electrical pulses fire through links in-between neurons making those connections/paths stronger and changing the way people think. This allows people to change and adapt to their surroundings.
                    </div>
                    <div>
                        <h3><mark>ANN: Artificial Neural Networks</mark></h3>
                        ANN is based off the same design as a human brain's neural network.
	                    These networks are made up of linked nodes that connect information.
                    </div>
                    <h3><mark>What if we tried to teach a Deep Learning AI what a dog is?</mark></h3>
                    <div>
                        Since a computer is mainly limited to visuals and sound, the perfect input would be pictures
            			or videos of what a dog looked and sounded like.
            			The computer could then analyze these pictures and videos and store data about the distinct 
            			features of a dog itself without any human help. 
            			The computer would basically create its own definition of what makes a dog a dog.
            			<div>
                        <h3><mark>Deep Learning relies on large amounts of labled data</mark></h3>
                		 If we just give the computer a picture of a dog, it won't know what it is. We still have to
                		 tell the computer that it's a dog. Similar to a young child learning about the world, a child
                		 won't know what a dog is until someone else teaches it to them.
                        </div>
            			So the computer is not completely independent and still relies on human input to learn what new things are.
                    </div>
                </div>
            </main>
        </div>
        
    </body>
</html>