<% include partials/header.ejs %>
            
            <div id="fake">
                <h1>contact me at: <%= phone %></h1>
            </div>
            
            
            <img id="thinkbot" src="img/thinkingrobot.jpg" width="500" height="500" alt="visual" />
            
            <main>
                <div class="main-box-1">
                    <h1>What is AI?</h1>
                    <ul>
                        <li>Simulation of human intelligence</li>
                        <li>Self learning and self improving to constantly increase performance</li>
                        <li>Recognizing and storing patterns to predict outcomes or adapt to become more efficient</li>
                        <li>Things humans can do that machines cannot (YET!)</li>
                    </ul>
                </div>
                <div class="main-box-2">
                    <h1>
                        AI can be broken up into three main layers
                    </h1>
                </div>
            </main>
            
            <img id="layers" src="img/layers.png" width="600" height="600" alt="visual" />
            
        </div>
       
    </body>
</html>