<% include partials/header.ejs %>
            
            <img id="dogs" src="img/dog-collage.jpg" width="600" height="600" alt="visual" />
            
            <main id="ml-main">
                <div class="ml-box-1">
                    <h1>What is Machine Learning?</h1>
                    <p>
                        In machine learning, computers use algorithms to learn from stored data
	                     to make prdeictions. However, this data must be input by humans.
                    </p>
                </div>
                <div class="ml-box-2">
                    <h1>Example</h1>
                    <div>
                        What if we wanted a computer to be able to recognize what a dog is?
                            First we ask ourselves how it is a human is able to tell what a dog is.
                            <ul>
                                <li>Shape</li>
                                <li>Size</li>
                                <li>Sound</li>
                                <li>Smell</li>
                            </ul>
                            A person has to input all of the features that define what a dog is appropriate to a computer. With that information,
                            when the computer sees a dog it should now be able to tell what it is by matching its stored
                            data with the current visual and audio input it recieves while looking at the dog.
                    </div>
                </div>
            </main>
            
        </div>
        
    </body>
</html>